html {
  font-size: 62.5%;
}

a {
  font-family: $font-medium;
  color: color("blue", "base");
  font-size: $body-medium;
  text-decoration: underline;
}
p {
  color: color("grey", "lighten-2");
  line-height: 140%;
  font-size: $body-medium;
}
img {
  max-width: 100%;
  height: auto;
}
.no-margin {
  margin: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.large-button {
  padding: $large-button-padding !important;
}

.small-button {
  padding: $small-button-padding !important;
  font-size: 1.4rem !important;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

input:focus {
  outline: 0;
}

.flex {
  @include flexbox;
}

.shadow {
  box-shadow: 0 0 1.3rem color("grey", "lighten-5");
}

input,
select {
  color: color("grey", "lighten-2") !important;
}

label,
mat-label {
  font-size: 1.6rem;
  color: #434343;
  display: block;
  font-family: $font-medium;
}

textarea {
  border: 1px solid color("grey", "lighten-6") !important;
  border-radius: $button-radius-default;
  height: 140px;
  margin-top: 1.5rem !important;
  padding: 2rem !important;
  color: color("grey", "lighten-2") !important;
}

.floating-bottom-bar {
  padding: 0.6rem 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  right: 0;
  top: auto;
  background-color: color("shades", "white");
  z-index: 9;
  .inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      font-family: $font-medium;
    }
    button {
      margin-left: 1.2rem;
    }
  }
}
