$red: (
  "base": #ff0404,
);

$blue: (
  "base": #00538b,
  "lighten": #0369a1,
  "lighten-2": #00aeef,
);

$green: (
  "base": #15803d,
  "darken": #14532d,
  "lighten-1": #16a34a,
  "lighten-2": #40ae49,
);

$purple: (
  "base": #52309a,
);

$orange: (
  "base": #ff7a00,
);

$grey: (
  "lighten-1": #21262c,
  "lighten-2": #333b43,
  "lighten-3": #626f7b,
  "lighten-4": #9aa7b7,
  "lighten-5": #d0dbe8,
  "lighten-6": #eeeff0,
  "lighten-7": #f7f7f7,
);

$shades: (
  "black": #000000,
  "white": #ffffff,
  "transparent": transparent,
);

$colors: (
  "red": $red,
  "blue": $blue,
  "green": $green,
  "purple": $purple,
  "orange": $orange,
  "grey": $grey,
  "shades": $shades,
) !default;

@function color($color, $type) {
  @if map-has-key($colors, $color) {
    $curr_color: map-get($colors, $color);
    @if map-has-key($curr_color, $type) {
      @return map-get($curr_color, $type);
    }
  }
  @return null;
}

.blue {
  &.base-text {
    color: color("blue", "base");
  }
  &.base-bg {
    background-color: color("blue", "base");
  }
  &.lighten-text {
    color: color("blue", "lighten");
  }
  &.lighten-bg {
    background-color: color("blue", "lighten");
  }
}
.green {
  &.base-text {
    color: color("green", "base");
  }
  &.base-bg {
    background-color: color("green", "base");
  }
  &.dark-text {
    color: color("green", "darken");
  }
}
.purple {
  &.base-text {
    color: color("purple", "base");
  }
  &.base-bg {
    background-color: color("purple", "base");
  }
}

.text-light {
  color: color("grey", "lighten-3");
}

.red-color {
  .base {
    background-color: color("red", "base");
  }
}

.orange-color {
  .base {
    background-color: color("orange", "base");
  }
}
