/*==== Homepage Page code starts ====*/
.homepage-banner {
  background-image: url(../images/homepage-banner-bg.svg);
  background-size: cover;
  background-position: top;
}
.how-can-we-help {
  text-align: center;
  .row {
    display: flex;
    .col {
      display: flex;
      &:nth-child(1) {
        .logo-icon {
          background-color: lighten(color("green", "lighten-2"), 48%);
        }
      }
      &:nth-child(2) {
        .logo-icon {
          background-color: lighten(color("blue", "lighten-2"), 48%);
        }
      }
      .inner-content {
        display: flex;
      }
    }
  }
  .inner-content {
    text-align: left;
    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      box-shadow: $shadow;
      .logo-icon {
        padding: 1.2rem;
        background-color: color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: color("grey", "lighten-7");
        .logo {
          width: 11.46rem;
          height: 4.8rem;
          display: flex;
          align-items: center;
        }
      }
      .content {
        padding: 1.2rem;
        h4 {
          margin: 0 0 0.8rem;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

.services-pregnancy {
  text-align: center;
  .row {
    display: flex;
    margin: auto;
    position: relative;
    &::after {
      position: absolute;
      height: 100%;
      width: 100%;
      content: "";
      background-image: url(../images/services-pregnancy-bg.svg);
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: 0 8.4rem;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }
    .col {
      display: flex;
      padding: 0;
    }
  }
  .inner-content {
    padding: 2.4rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    &.green {
      background-color: lighten(color("green", "lighten-2"), 48%);
    }
    &.blue {
      background-color: lighten(color("blue", "lighten-2"), 48%);
    }
    &.orange {
      background-color: lighten(color("orange", "base"), 39%);
    }
    &.purple {
      background-color: lighten(color("purple", "base"), 55%);
    }
    .icon-logo {
      display: flex;
      align-items: center;
      margin-bottom: 1.6rem;
      .icon {
        margin-right: 1.6rem;
        height: 5.6rem;
        width: 5.6rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: color("shades", "white");
      }
      .logo {
        width: 11.46rem;
        height: 4.8rem;
      }
      & + .small-cap {
        margin: 0;
      }
    }
    h4 {
      margin: 0.4rem 0 0.8rem;
      & + p {
        margin: 0;
      }
    }
    .small-cap {
      margin: 2.4rem 0 0.4rem;
    }
    a {
      display: flex;
      img {
        margin-left: 0.8rem;
      }
    }
  }
}

/*==== Homepage Page code ends ====*/

/*==== Prepair Page code starts ====*/
.intro {
  padding-top: 9rem;
  .inner-content {
    text-align: center;
    max-width: 70rem;
    margin: auto;
    padding: 8rem 0 3.2rem;
    @include breakpoint(medium) {
      padding: 4rem 0 2rem;
    }
  }
}

.five-carrier-screening {
  background-image: url(../images/circle-bg.svg);
  background-size: cover;
  padding: 8rem 0;
  margin: 5rem 0 8rem;
  @include breakpoint(medium) {
    padding: 4rem 0;
    margin: 0 0 4rem;
  }
  &.percept {
    background-color: lighten(color("blue", "base"), 69%);
    background-image: url(../images/circle-bg-1.svg);
  }
  iframe {
    max-width: 56rem !important;
    width: 100%;
  }
  .button-link {
    margin-top: 1.6rem;
    img {
      margin-left: 0.5rem;
    }
  }
  .row {
    display: flex;
    align-items: center;
    @include breakpoint(medium) {
      display: block;
    }
  }
  .content {
    padding-left: 3rem;
    @include breakpoint(medium) {
      margin: 4rem 0 0;
      padding-left: 0;
    }
    h3 {
      margin-top: 0;
    }
  }
  ul {
    list-style-type: none;
    padding: 0;
    &.normal-list {
      list-style-type: disc;
      padding: 0 1.6rem;
      li {
        &:before {
          display: none;
        }
      }
    }
    li {
      font-size: $body-medium;
      font-family: $font-regular;
      margin: 1.2rem 0;
      line-height: 140%;
      position: relative;
      @include breakpoint(medium) {
        padding-left: 3rem;
      }
      &::before {
        position: absolute;
        left: -3rem;
        top: 0;
        height: 20px;
        width: 20px;
        content: "";
        background-image: url(../images/plus.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        @include breakpoint(medium) {
          left: 0;
        }
      }
      &:last-child {
        margin-bottom: 4rem;
        @include breakpoint(medium) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.choose-test {
  &.percept {
    .content {
      border: 1px solid color("blue", "lighten-2");
      .test-header {
        background-color: lighten(color("blue", "lighten-2"), 45%);
        height: auto;
      }
    }
  }
  .tab-mobile-plan {
    display: none;
    text-align: left;
    @include breakpoint(medium) {
      display: block;
      margin-top: 1.6rem;
    }
    .green:not(.active) {
      background-color: color("grey", "lighten-6");
      color: color("grey", "lighten-1");
    }
  }
  .col.l5 {
    @include breakpoint(medium) {
      float: none;
    }
  }
  #plus-plan {
    @include breakpoint(medium) {
      display: none;
    }
  }
  .content {
    border: 1px solid color("green", "lighten-2");
    margin-top: 4.8rem;
    @include breakpoint(medium) {
      margin-top: 0;
    }
    p {
      font-size: $body-medium;
      &.small-cap {
        font-size: $small-cap;
      }
    }
    .test-header {
      text-align: left;
      background-color: lighten(color("green", "lighten-2"), 48%);
      padding: 2rem;
      height: 21.4rem;
      @include breakpoint(medium) {
        height: auto;
      }
    }
    .test-body {
      p {
        margin: 0 0 0.4rem;
        &.small-cap {
          margin-bottom: 0.6rem;
        }
      }
    }
    li {
      list-style-type: none;
      display: flex;
      text-align: left;
      border-bottom: 1px solid color("grey", "lighten-5");
      margin: 2rem 0;
      padding: 0 2rem 2rem;
      &:last-child {
        margin-bottom: 0;
        border: none;
        padding-bottom: 1rem;
      }
      .icon {
        display: inline-block;
        margin-right: 1.6rem;
        flex: 0 0 4.4rem;
      }
    }
  }
}

.arrange-testing {
  background-image: url(../images/arrange-testing-bg.svg);
  background-size: cover;
  padding: 8rem 0;
  @include breakpoint(medium) {
    padding: 4rem 0;
  }
  &.percept {
    background-image: url(../images/arrange-testing-bg-1.svg);
    @include breakpoint(medium) {
      padding-bottom: 4rem;
    }
    h2 {
      margin-bottom: 6.4rem;
      @include breakpoint(medium) {
        margin-bottom: 4rem;
      }
    }
    .inner-content {
      margin: -4rem 0;
      @include breakpoint(large) {
        margin: 2.4rem 0;
      }
    }
    .link-button {
      a {
        display: inline-flex;
        align-items: center;
        margin-top: 1rem;
        img {
          transform: rotate(-90deg);
          margin-left: 0.4rem;
        }
      }
    }
    .step {
      border: 1px solid color("blue", "lighten-2");
      height: auto !important;
      margin: 0;
      a {
        display: flex;
        align-items: center;
        margin-top: 1rem;
        img {
          transform: rotate(-90deg);
          margin-left: 0.4rem;
        }
      }
    }
    .col.l6:last-child {
      .inner-content {
        &::before {
          background-image: url(../images/person.svg);
          width: 10.8rem;
          height: 42.3rem;
          top: -42.3rem;
        }
      }
    }
  }
  .row .col {
    @include breakpoint(medium) {
      float: none;
    }
  }
  .tab-mobile-plan {
    display: none;
    text-align: left;
    @include breakpoint(medium) {
      display: block;
      margin-top: 2.4rem;
    }
    .green:not(.active) {
      background-color: color("grey", "lighten-6");
      color: color("grey", "lighten-1");
    }
  }
  #step-plus-plan {
    @include breakpoint(medium) {
      display: none;
    }
  }
  .tab-section {
    @include breakpoint(large) {
      display: flex;
      margin-top: 4rem;
      .col {
        display: table;
        .inner-content {
          display: table-row;
          .step {
            display: table-cell;
          }
        }
      }
    }
    @include breakpoint(medium) {
      display: block;
      margin-top: 0;
      .col {
        display: block;
        .inner-content {
          display: block;
          margin-top: 0;
          .step {
            display: block;
            margin-top: 0;
          }
        }
      }
    }
  }
  .col.l6:last-child {
    .inner-content {
      &::before {
        position: absolute;
        height: 41.3rem;
        width: 22.7rem;
        background-image: url(../images/people.svg);
        background-size: 100%;
        background-repeat: no-repeat;
        content: "";
        right: 0;
        top: -41.3rem;
        @include breakpoint(large) {
          display: none;
        }
      }
      .button-primary.green {
        position: absolute;
        right: auto;
        left: 0;
        top: -4.2rem;
      }
    }
  }
  .inner-content {
    position: relative;
    margin-top: 6.4rem;
    .step {
      height: 19.6rem;
      @include breakpoint(large) {
        height: auto;
      }
    }
    .button-primary.green {
      position: absolute;
      right: 0;
      top: -4.2rem;
      &#prepair-plus-step {
        right: auto;
        left: 0;
      }
      @include breakpoint(medium) {
        display: none;
      }
    }
  }
  .step {
    display: flex;
    margin: 2.4rem 0;
    padding: 2rem;
    background-color: color("shades", "white");
    border: 1px solid color("green", "lighten-2");
    .icon {
      margin-right: 2rem;
      flex: 0 0 5.4rem;
    }
    h4 {
      font-family: $font-semibold;
      font-weight: 500;
      a {
        font-size: $h4-fontsize;
      }
      & + p {
        font-size: $body-medium;
      }
    }
    p {
      margin: 1rem 0;
    }
  }
  .link-button {
    text-align: center;
    margin-top: 4rem;
    @include breakpoint(small) {
      text-align: left;
      margin-top: 1.6rem;
    }
    a {
      margin: 0 2rem;
      @include breakpoint(medium) {
        margin-bottom: 2rem;
      }
      @include breakpoint(small) {
        margin: 0 0 2rem;
        display: flex;
        text-align: center;
        justify-content: center;
      }
    }
  }
}

.did-you-know {
  padding: 8rem 0;
  .background {
    padding: 3.2rem;
    background-color: lighten(color("green", "base"), 68%);
    @include breakpoint(small) {
      padding: 1.5rem;
    }
    .row {
      display: flex;
      @include breakpoint(small) {
        display: block;
      }
      .col {
        display: table;
        @include breakpoint(small) {
          display: block;
          float: none;
        }
      }
    }
    .inner-content {
      display: table-cell;
      background-color: color("shades", "white");
      padding: 2.4rem;
      border: 1px solid lighten(color("green", "lighten-2"), 30%);
      text-align: center;
      @include breakpoint(small) {
        display: block;
        margin: 0.6rem 0;
      }
      .image {
        height: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .italic {
    margin-top: 3.2rem;
  }
}
/*==== Prepair Page code ends ====*/

/*==== Prepair 3.1 Page code starts ====*/

.carrier-banner {
  display: flex;
  align-items: flex-end;
  padding-top: 9rem;
  .row {
    display: flex;
    align-items: flex-end;
    @include breakpoint(x-small) {
      display: block;
    }
  }
  .inner-content {
    margin: 14.6rem 0;
    @include breakpoint(medium) {
      margin: 4rem 0;
    }
    @include breakpoint(x-small) {
      text-align: center;
    }
  }
}

.carrier-screening-option {
  @include breakpoint(medium) {
    padding-top: 4rem;
  }
  .tab {
    justify-content: flex-start;
    @include breakpoint(medium) {
      display: flex;
    }
    button {
      padding: 1.6rem 3.2rem;
      background-color: lighten(color("green", "base"), 66%);
      width: auto;
      margin-top: 2.4rem;
      @include breakpoint(medium) {
        margin-top: 0rem;
      }
      @include breakpoint(small) {
        width: 11rem;
        padding: 1.2rem;
      }
      &::before,
      &::after {
        display: none;
      }
      img {
        max-width: 21.7rem;
        @include breakpoint(medium) {
          max-width: 100%;
        }
      }
      &.active {
        background-color: color("shades", "white");
      }
    }
  }
  .tabcontent {
    background-color: color("shades", "white");
    padding: 2.4rem 3.2rem;
    @include breakpoint(medium) {
      padding: 1.5rem;
    }
    ul {
      list-style-type: disc;
      padding-left: 2rem;
      li {
        @include breakpoint(small) {
          padding-left: 0;
        }
        &::before {
          display: none;
        }
      }
    }
    .inner-content {
      padding: 2rem;
      border: 1px solid lighten(color("green", "lighten-2"), 25%);
      flex: 0 0 calc(100% / 3);
      .icon {
        width: 5.6rem;
        height: 5.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lighten(color("green", "lighten-2"), 45%);
        border-radius: $button-radius;
        font-size: $body-large;
        color: color("green", "lighten-2");
        padding-top: 0.4rem;
      }
      h4 {
        margin: 2rem 0 0.8rem;
      }
      p {
        margin-bottom: 0;
      }
    }
    .flex {
      border: 1px solid lighten(color("green", "lighten-2"), 20%);
      margin-top: 2.4rem;
      @include breakpoint(small) {
        display: block;
      }
    }
  }
}

.career-screening-tell.five-carrier-screening {
  background-image: url(../images/career-bg.svg);
  background-size: cover;
  background-color: color("shades", "transparent");
  margin: 0;
  padding-top: 0;
  @include breakpoint(large) {
    padding-top: 8rem;
  }
  @include breakpoint(medium) {
    padding-top: 4rem;
  }
  h3 {
    color: color("grey", "lighten-1");
    margin-top: 8rem;
    @include breakpoint(large) {
      margin-top: 0;
    }
  }
  .right-content {
    padding-left: 4.8rem;
    @include breakpoint(medium) {
      padding-left: 0;
    }
  }
  .flex {
    align-items: center;
    max-width: 144rem;
    width: 100%;
    margin: auto;
    @include breakpoint(large) {
      align-items: flex-start;
    }
    @include breakpoint(medium) {
      display: block;
    }
    & > div {
      flex: 0 0 50%;
      &.content {
        padding: 0 6.4rem 0 11rem;
        @include breakpoint(large) {
          padding: 0 1.5rem;
        }
        @include breakpoint(medium) {
          margin-top: 0;
        }
      }
      &.image {
        @include breakpoint(large) {
          padding: 0 1.5rem;
        }
        @include breakpoint(medium) {
          margin-top: 2.4rem;
        }
        &.right {
          padding: 4.8rem 0;
        }
      }
      &.quote-content {
        display: flex;
        align-items: center;
        justify-content: center;
        @include breakpoint(medium) {
          justify-content: flex-start;
          margin-left: 1.5rem;
        }
        .quote-inner {
          padding: 2.4rem;
          background-color: lighten(color("blue", "lighten-2"), 49%);
          max-width: 56rem;
          margin-top: 25rem;
          display: flex;
          box-shadow: 1.6rem 1.6rem 0 lighten(color("blue", "lighten-2"), 45%);
          @include breakpoint(medium) {
            margin: 6rem 0;
          }
          .quote {
            flex: 0 0 6.4rem;
            height: 6.4rem;
          }
        }
      }
    }
  }
  ul li {
    @include breakpoint(large) {
      padding-left: 3rem;
    }
    &::before {
      @include breakpoint(large) {
        left: 0;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .right-for-me {
    margin-top: 8rem;
    @include breakpoint(large) {
      margin-top: 1.6rem;
    }
  }
  p {
    margin-bottom: 4rem;
  }
  .button-primary {
    margin-top: 2.4rem;
    @include breakpoint(medium) {
      margin: 0 0 4rem;
    }
  }
}

.question-contact {
  background-color: color("green", "base");
  padding: 8rem 0;
  @include breakpoint(medium) {
    padding: 4rem 0;
  }
  h2 {
    color: color("shades", "white");
    margin-bottom: 5.6rem;
    @include breakpoint(medium) {
      margin-bottom: 3.2rem;
    }
  }
  .row {
    @include breakpoint(medium) {
      display: flex;
      flex-direction: column-reverse;
    }
  }
}
/*==== Prepair 3.1 Page code ends ====*/

/*==== Percept 3.2 Page code starts ====*/

.condition-nipt.five-carrier-screening {
  background-image: url(../images/circle-blue-bg.svg);
  background-color: lighten(color("blue", "lighten"), 65%);
  .tabcontent {
    display: block;
    ul {
      padding-left: 4rem;
      @include breakpoint(small) {
        padding-left: 3rem;
      }
    }
    li {
      font-family: $font-regular;
      margin: 1.2rem 0;
      line-height: 140%;
    }
    p {
      margin-bottom: 2.4rem;
    }
  }
  .accordion {
    margin-top: 3.2rem;
  }
  .accordion-content {
    padding: 2.4rem;
    p {
      margin: 0 !important;
    }
  }
}

.percept-tell.career-screening-tell.five-carrier-screening {
  background: color("shades", "white");
  p {
    margin-bottom: 2.4rem;
  }
  .button-primary {
    margin: 0 0 2.4rem;
  }
  .flex {
    align-items: stretch;
  }
  .accordion-outer {
    @include breakpoint(medium) {
      margin-bottom: 4rem;
    }
  }
}

.nipt-right.carrier-screening-option {
  background-image: url(../images/nipt-right-bg.svg);
  background-color: color("shades", "white");
  padding-top: 0;
  .tabcontent {
    display: block;
  }
  .button-primary {
    margin: 3.2rem 0 0.8rem;
  }
  .accordion {
    margin-top: 3.2rem;
  }
  .accordion-content {
    padding: 2.4rem;
    p {
      margin: 0 !important;
    }
    &.border-custom {
      padding: 0;
      border: none;
      .flex {
        border-color: lighten(color("blue", "base"), 45%);
        border-top: none;
        border-right: none;
        margin-top: 0;
        .inner-content {
          border: none;
          border-right: 1px solid lighten(color("blue", "base"), 45%);
          @include breakpoint(small) {
            border-top: 1px solid lighten(color("blue", "base"), 45%);
          }
          &:first-of-type {
            @include breakpoint(small) {
              border-top: none;
            }
          }
        }
      }
    }
    .icon {
      width: 100%;
      height: auto;
      display: flex;
      margin-top: 3.2rem;
      background-color: transparent;
      align-items: flex-start;
      .question-text {
        font-family: $font-medium;
        margin-left: 1.2rem !important;
      }
    }
  }
  ul li {
    margin: 0;
  }
}

.question-contact.percept {
  background-color: color("blue", "base");
}

/*==== Percept 3.2 Page code ends ====*/
