.topnav {
  padding: 1.5rem 0;
  position: relative;
  &.responsive {
    @include breakpoint(medium) {
      position: relative;
    }
    li {
      @include breakpoint(medium) {
        display: block;
        line-height: 2.2;
      }
    }
  }
  .menu-icon {
    display: none;
    @include breakpoint(medium) {
      display: block;
    }
  }
  .inner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    @include breakpoint(medium) {
      padding: 1.5rem;
      position: absolute;
      top: 8rem;
      display: block;
      width: 100%;
      left: 0;
      background-color: color("shades", "white");
    }
    .dropdown {
      position: relative;
      &:hover .dropdown-content {
        display: block;
      }
      &::after {
        position: absolute;
        height: 2.4rem;
        width: 2.4rem;
        background-image: url(../images/arrow-down.svg);
        background-repeat: no-repeat;
        background-position: center center;
        content: "";
        top: -0.2rem;
        right: -3rem;
        cursor: pointer;
        @include breakpoint(medium) {
          right: auto;
          top: 0.6rem;
        }
      }
      .dropdown-content {
        display: none;
        position: absolute;
        background-color: color("shades", "white");
        min-width: 16rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        a {
          float: none;
          color: color("grey", "lighten-1");
          padding: 1.2rem 1.6rem;
          text-decoration: none;
          display: block;
          text-align: left;
          &:hover {
            background-color: color("grey", "lighten-6");
          }
        }
      }
    }
    li {
      margin: 0 4.4rem;
      @include breakpoint(large) {
        margin: 0 2.4rem;
      }
      @include breakpoint(medium) {
        display: none;
        margin: 0;
      }
    }
  }
  .button-primary {
    @include breakpoint(large) {
      margin-right: 2rem;
    }
  }
}
