.tab {
  display: flex;
  justify-content: center;
  @include breakpoint(small) {
    display: block;
  }
  /* Style the buttons inside the tab */
  button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 2.4rem;
    transition: 0.3s;
    max-width: 47.8rem;
    width: 100%;
    @include breakpoint(small) {
      width: 100%;
      max-width: 100%;
    }
    &.active {
      position: relative;
      &::after {
        position: absolute;
        content: "";
        left: 0;
        width: 100%;
        height: 4px;
        bottom: 0;
        @include breakpoint(small) {
          height: 100%;
          width: 4px;
        }
      }
      &:nth-child(1) {
        .image {
          background-color: color("green", "lighten-1");
          img {
            filter: brightness(100);
          }
        }
        &::after {
          background-color: color("green", "lighten-1");
        }
      }
      &:nth-child(2) {
        .image {
          background-color: color("blue", "lighten");
          img {
            filter: brightness(100);
          }
        }
        &::after {
          background-color: color("blue", "lighten");
        }
      }
      &:nth-child(3) {
        .image {
          background-color: color("purple", "base");
          img {
            filter: brightness(100);
          }
        }
        &::after {
          background-color: color("purple", "base");
        }
      }
      &:nth-child(1) {
        &::before {
          background-color: lighten(color("green", "base"), 65%);
        }
      }
      &:nth-child(2) {
        &::before {
          background-color: lighten(color("blue", "lighten"), 62%);
        }
      }
      &:nth-child(3) {
        &::before {
          background-color: lighten(color("purple", "base"), 56%);
        }
      }
    }
    &:nth-child(1) {
      background-color: lighten(color("green", "base"), 65%);
    }
    &:nth-child(2) {
      background-color: lighten(color("blue", "lighten"), 62%);
    }
    &:nth-child(3) {
      background-color: lighten(color("purple", "base"), 56%);
    }
    .tab-inner {
      display: flex;
      align-items: center;
      justify-content: center;
      @include breakpoint(small) {
        justify-content: flex-start;
      }
      .image {
        margin-right: 1.2rem;
        height: 5.6rem;
        width: 5.6rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: color("shades", "white");
      }
      .content {
        span {
          display: block;
          text-align: left;
          &.small-cap {
            margin-bottom: 5px;
          }
        }
        h4 {
          margin: 0;
          text-align: left;
          @include breakpoint(large) {
            font-size: 1.5rem;
          }
          @include breakpoint(medium) {
            font-size: $body-medium;
            font-family: $font-semibold;
          }
        }
      }
    }
  }
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 2rem;
  text-align: center;
  &.fixed-width {
    max-width: 95.6rem;
    width: 100%;
    margin: auto;
  }
  @include breakpoint(medium) {
    padding: 1.5rem 0 3rem;
  }
  p {
    margin: 1rem 0;
    @include breakpoint(small) {
      font-size: $body-medium;
    }
  }
}
